.NewPost {
  padding: 10px;
  border-bottom: 1px solid grey;
}

.Write_NewPost_Section {
  display: flex;
  padding: 10px;
  margin-bottom: 20px;
}

.img {
  border: 1px solid black;
  border-radius: 50%;
  width: 50px;
  height: 40px;
  margin-right: 10px;
}
